<!DOCTYPE html>
<html>
  <head>
    <title>Coderclub2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- screw the asset pipeline and sass -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" />
  
    <%= stylesheet_link_tag 'application', media: 'all' %>  <!-- %, 'data-turbolinks-track': 'reload' %>  -->
    <%= javascript_include_tag 'application' %> <!-- %, 'data-turbolinks-track': 'reload' %> --> 
<!-- for webpack: 
    < %= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' % >
    < %= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' % >
    -->
  </head>
<style>
    body {
        background-image: url(<%= asset_path "grey_computer_code.png" %>);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>  --> 
      <button id="navToggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'coder_club_logo_small.png' %></a>

    </div>
 
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto">

        <li class="nav-item" ><%= link_to "TryRuby", try_ruby_path, class: 'nav-link' %> </li>
        <li class="nav-item" ><%= link_to "Turtle", turtle_draw_path, class: 'nav-link' %></li>
        <li class="nav-item" ><%= link_to "Lessons", lessons_path, class: 'nav-link' %></li>
        <% if signed_in? %>
            <li class="nav-item" >
              <%= link_to "Profile/Signout", current_user, class: 'nav-link' %>
            </li>
            <li class="nav-item" >
              <%= link_to "GithubFiles", "/github/myfiles", class: 'nav-link' %>
            </li>
         <% else %>
           <li class="nav-item" >
              <%= link_to "Login/Signup", signin_path, class: 'nav-link' %>
           </li>
         <% end %>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
             Ruby links<span class="caret"> </span> 
             </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="http://kidsruby.com/"> Kids Ruby </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://tryruby.org">Try Ruby</a>
            <a class="dropdown-item" href="http://opalrb.org/try/#">Try Ruby2</a>
            <a class="dropdown-item" href="http://www.tutorialspoint.com/ruby/index.htm">Ruby Tutorial</a>
            <a class="dropdown-item" href="http://jruby.org/tryjruby">JRuby Applet</a>
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://www.bloc.io/ruby-warrior/#/">Ruby Warrior Game</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="http://ruby-doc.org/">Ruby Documentation </a>
          </div>
        </li>

        </ul> 
      </div>
    </nav>
    <div class="container">
     <div class="card border-0 shadow my-5" >
      <div class="card-body p-3 " style="height: 100%; width:100%" >
       <%= yield %>
      </div>
    </div>
   </div>
    <div class="card-footer text-muted "> <!-- fixed-bottom -->
      <div class="row" id="wrapper">
      
      </div>
   </div>

  </body>
</html>
